# users.auth.php
# <?php exit()?>
# Don't modify the lines above
#
# Userfile
#
# Format:
#
# login:passwordhash:Real Name:email:groups,comma,seperated


{{ superuser }}:{{ password_hash }}:{{ real_name }}:{{ email }}:admin,user
